.Card{
    width: 22%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border-radius: 6px;
    object-fit: cover;
}
.Character__img{
    max-width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.Name{
    padding-left: 16px;
    padding-top: 8px;
}
.Information{
    display: flex;
    column-gap: 6px;
}
@media screen and (max-width:1024px) {
    .Card{
        width: 30%;
    }
    .Character__img{
        width: 100%;
    }
}
@media screen and (max-width:767px) {

    .Card{
        width: 100%;
        
    }
    .Not{
        width: 40%;
    }
}
