.Gmail{
    margin-top: 12%;
}
.h1{
    text-align: center; 
    margin-top:30px ;
}
.List{
    width: 35%; 
    margin-left: 40px; 
    margin: 45px;
}
.Lorem{
    font-size: 20px;
}
.w1{
    background-color: blue; border-radius: 5px; width: 150px;height: 30px; border:blue; color: white ; margin-top: 10px;
}
.w1:active{
    border: 2px solid white;
}
.v{
    border-radius:5px ; border:rgb(255, 252, 252) solid 3px ; height: 20px; margin-bottom: 15px; 
}
.v:active{
border: blue solid 2px;

}
.lorem:hover{
    text-decoration: underline;
    color: blue;
    }